
  <div class="login">
    <div class="inputBox">
          <div  >
                  <label for="Password">Enter Old password</label>
                  <input [(ngModel)]="Password" type="password" class="form-control"><br>                  
            </div>
    

        
                    <div  id="id1"  runat="server">
                        <label for="Npassword">Enter New Password</label>
                        <input [(ngModel)]="Npassword" type="password" class="form-control"><br>
                    </div> 

                    <div >
                      <label for="CPassword">Confirm Password</label>
                      <input [(ngModel)]="Cpassword" type="password" class="form-control"><br>
                    </div>   <br> 
              
        <button (click)="ChangePassword()" style="text-align: center;" type="submit" class="btn btn-success ">Change Password</button> &nbsp; &nbsp;
            
              <span>
                  {{message}}
              </span>
      
      


</div>

</div>

  
  
  
  
    
    
  
  
  
  
  
  
  
  
  
    
    
  
  
  