<div class="col-md-2"></div>
<div class="col-md-2" >
<form #myForm="ngForm" (ngSubmit)="AddTeam(myForm)">
  <legend>Add New Team</legend>

  <div class="form-group">
    <label for="TeamName">TeamName</label>
    <input ngModel type="text" class="form-control" id="TeamName" name="TeamName" >     
</div>

<div class="form-group">
  <label for="UserId">UserId</label>
  <input ngModel type="number" class="form-control" id="UserId" name="UserId">
</div>

<div>
  <button type="submit" class="btn btn-primary" style="align-content: center;">Add Team</button>
</div>
</form>
</div>











