<div class="jumbotron jumbotron-fluid" style="text-align:left">
  <div class="container">

    <h1 class="display-4" style="text-align: center;">Contact Us</h1>
    <br>
    <br>
    <div class="col-md-1"></div>
    <div class="col-md-4"> 
    
    <p class="lead">Name : Baviskar Vinit Shekhar </p>
    <p class="lead">PRN : 190840820004</p>
    <p class="lead">Course : PG-DAC</p>
    <p class="lead">Email : vinit.baviskar95@gmail.com</p>
    <p class="lead">Mobile : 9850708888, 9404848777</p>
  </div>
<div class="col-md-2"></div>
  <div class="col-md-4"> 
      <p class="lead">Name : Borude Pratiksha Sahebrao </p>
      <p class="lead">PRN : 190840820008</p>
      <p class="lead">Course : PG-DAC</p>
      <p class="lead">Email : pratiksha.borude17@vit.edu</p>
      <p class="lead">Mobile : 9975010661, 8275742486</p>
  </div>
  <div class="col-md-1"></div>
  </div>
</div>




  