<div class="col-md-2"></div>
<div class="col-md-2" >
  <br>
  <legend>Update Player</legend>

<!-- <div class="form-group">
  <label for="PlayerId">Player Id</label>
  <input [(ngModel)]="playerdata.PlayerId"  type="number" readonly class="form-control" id="PlayerId" name="PlayerId" >     
</div> -->

<div class="form-group">
  <label for="Name">Name</label>
  <input [(ngModel)]="playerdata.Name" type="text" readonly class="form-control" id="Name" name="Name" >     
</div>

<div class="form-group">
<label for="Age">Age</label>
<input [(ngModel)]="playerdata.Age" type="text" class="form-control" id="Age" name="Age">
</div>

<div class="form-group">
<label for="Type">Type</label>
<input [(ngModel)]="playerdata.Type" type="text" class="form-control" id="Type" name="Type">
</div>

<div class="form-group">
<label for="Matches">Matches</label>
<input [(ngModel)]="playerdata.Matches" type="number" class="form-control" id="Matches" name="Matches">
</div>

<div class="form-group">
<label for="Runs">Runs</label>
<input [(ngModel)]="playerdata.Runs" type="number" class="form-control" id="Runs" name="Runs">
</div>

<div class="form-group">
<label for="Wickets">Wickets</label>
<input [(ngModel)]="playerdata.Wickets" type="number" class="form-control" id="Wickets" name="Wickets">
</div>

<div class="form-group">
<label for="BasePrice">Base Price</label>
<input [(ngModel)]="playerdata.BasePrice" type="number" class="form-control" id="BasePrice" name="BasePrice">
</div>

<div>
  <button type="button" class="btn btn-primary" (click)="Update()" style="align-content: center;">Save Changes</button>
  <br>
<br>
<br>
<br>
<br>
</div>
</div>











