<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;} 
    }
  </style>
</head>
<body>


<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h2>Hello  {{u.Name}}</h2>
      <ul class="nav nav-pills nav-stacked">

        <li><a href="/user">User Details</a></li>
        <li><a href="/team">Teams</a></li>
        <li><a href="/player">Players</a></li>
        <li><a href="/changepassword">Change Password</a></li>
        <li><a href="/passwordhistory">Password History Log</a></li>
        <li><a (click)="Logout()" href="#">Sign Out</a></li>
      </ul><br>
    </div>
    <br>
    
    <div class="col-sm-9">
      <div class="well">
        <h4>Dashboard</h4>
        <p>Some text..</p>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
            <h4>Total Users</h4>
            <p>11</p> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Users Online</h4>
            <p>5</p> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Sessions</h4>
            <p>10 Million</p> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Bounce</h4>
            <p>30%</p> 
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="well">
            <p>Text</p> 
            <p>Text</p> 
            <p>Text</p> 
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p>Text</p> 
            <p>Text</p> 
            <p>Text</p> 
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p>Text</p> 
            <p>Text</p> 
            <p>Text</p> 
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="well">
            <p>Text</p> 
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p>Text</p> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html> -->


<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">
  <h2 class="w3-bar-item">Hello Owner: <u>{{name}}</u></h2>
 
  <a href="/userdashboard/team" class="w3-bar-item w3-button"><b>Teams</b></a>
  <a href="/userdashboard/player" class="w3-bar-item w3-button"><b>Players</b></a>
  <a href="/userdashboard/bidhistory" class="w3-bar-item w3-button"><b>View Bids</b></a>
  <a href="/userdashboard/changepassword" class="w3-bar-item w3-button"><b>Change Password</b></a>
  

  <a href="/home" class="w3-bar-item w3-button" (click)="Logout()"><b>Sign Out</b></a>
  
</div>

<!-- Page Content -->
<div style="margin-left:25%">

  <div class="w3-container w3-teal">
    <h1>Welcome to IPL Auctions</h1>
  </div>
  <br>
  <br>
  <td>
    <router-outlet></router-outlet>
  </td>
  </div>
      
</body>
</html>
