<div class="col-md-4"></div>
<div class="col-md-4" >
<form #myForm="ngForm" (ngSubmit)="Add(myForm)">
  <a  routerLink="/home" style="text-align: center;">Go to Home</a>
  <br>
  <legend>Register Here..!</legend>

  <div class="form-group">
    <label for="Name">Name</label>
    <input ngModel type="text" class="form-control" required pattern="[A-Za-z0-9]+"  id="Name" name="Name" #Name="ngModel" #spy>
    <div *ngIf="Name.invalid && (Name.dirty || Name.touched || Name.pristine)" class="alert alert-danger">
      <div *ngIf="Name.errors.required">
          Name is required.
      </div>
      <div *ngIf="Name.errors.pattern">
          Allowed only Alphabets
      </div>
  </div>     
</div>

<div class="form-group">
  <label for="EmailId">Email</label>
  <input ngModel type="text" class="form-control" id="EmailId" required email name="EmailId" #EmailId="ngModel" #spy>
  <div *ngIf="EmailId.invalid && (EmailId.dirty || EmailId.touched || EmailId.pristine)" class="alert alert-danger">
    <div *ngIf="EmailId.errors.required">
        Email id is required.
    </div>
    <div *ngIf="EmailId.errors.email">
        Email Id must be valid.
    </div>
</div>   
</div>

<div class="form-group">
  <label for="Password">Password</label>
  <input ngModel type="password" class="form-control" id="Password" required minlength="4" maxlength="10" name="Password" #Password="ngModel" #spy>
  <div *ngIf="Password.invalid && (Password.dirty || Password.touched || Password.pristine)" class="alert alert-danger">
    <div *ngIf="Password.errors.required">
        Password is required.
    </div>
    <div *ngIf="Password.errors.minlength">
        Password must be at least 4 characters long.
    </div>
</div>   
</div>
  
<div class="form-group">
  <label for="ConfirmPassword">Confirm Password</label>
  <input ngModel type="password" class="form-control" id="ConfirmPassword" required minlength="4" maxlength="10" name="ConfirmPassword"  #ConfirmPassword="ngModel" #spy>
  <div *ngIf="ConfirmPassword.invalid && (ConfirmPassword.dirty ||ConfirmPassword.touched || ConfirmPassword.pristine)" class="alert alert-danger">
    <div *ngIf="ConfirmPassword.errors.required">
        Password is required.
    </div>
    <div *ngIf="ConfirmPassword.errors.minlength">
        Password must be at least 4 characters long.
    </div>
</div>   
</div>

<div class="form-group">
  <label for="MobileNo">Mobile</label>
  <input ngModel type="text" class="form-control" required pattern="[0-9]{10}"  maxlength="10"  id="MobileNo" name="MobileNo" #MobileNo="ngModel">
  <div *ngIf="MobileNo.invalid && (MobileNo.dirty || MobileNo.touched || MobileNo.pristine)" class="alert alert-danger">
    <div *ngIf="MobileNo.errors.required">
        No is required.
    </div>
    <div *ngIf="MobileNo.errors.pattern">
        Allowed 10 digit number only
    </div>
</div>  
</div>

<div>
  <button type="submit" class="btn btn-primary" style="align-content: center;">Register User</button>
</div>
</form>
<br>
<br>
<br>
</div>












